[submodule "CORTEX_M"]
	path = CORTEX_M
	url = https://github.com/niekiran/CortexMxProgramming
[submodule "RTOS"]
	path = RTOS
	url = https://github.com/niekiran/MasteringRTOS
[submodule "Embedded_C"]
	path = Embedded_C
	url = https://github.com/niekiran/Embedded-C/
[submodule "MasteringMCU"]
	path = MasteringMCU
	url = https://github.com/niekiran/MasteringMCU.git
[submodule "MasteringMCU2"]
	path = MasteringMCU2
	url = https://github.com/niekiran/MasteringMCU2
[submodule "BootloaderProjectSTM32"]
	path = BootloaderProjectSTM32
	url = https://github.com/niekiran/BootloaderProjectSTM32
